{% if recent %}
{% for s in recent %}
<button type="button" class="songcard" data-play="{{ s.id }}" title="{{ s.title }}">
  <span class="sc">
    <span class="im"><img src="{{ s.cover_url }}" alt="" loading="lazy" referrerpolicy="no-referrer"></span>
    <span class="nm">{{ s.title }}</span>
    <span class="ar">{{ s.artist }}</span>
    <span class="foot">
      <span class="dur">{{ s.duration_text }}</span>
      <span class="fab" aria-hidden="true"></span>
    </span>
  </span>
</button>
{% endfor %}
{% endif %}
